fieldset {
    width: 500px; /*1920 * 0.3 = 576*/
    padding: 20px 20px;
    margin: 10px auto 0;
    background: lightblue;
    border: 2px solid black;
    border-radius: 5px;
}

legend {
    background-color: white;
    border: 2px solid black;
    border-radius: 0 10px 0 10px;
    margin: 0 5px;
    padding: 10px;
}

input {
    width: 250px;
    padding: 5px;
}

input.contact {
    margin: 0 25px 0;
}

input:focus, textarea:focus {
    background-color: #c7ffc5;
    border: 2px solid black;
    box-sizing: border-box;
}

td.title {
    width: 110px;
}

div.buttons {
    text-align: center;
}

.inner-button {
    display: inline-block;
    height: 40px;
    width: fit-content;
    padding: 10px auto 10px auto;
    margin: 10px;
}

textarea {
    display: block;
    width: 90%;
    margin: 5px auto;
    resize: none;
}

div.org-block {
    border: 2px dotted gray;
    margin: 5px auto;
    padding: 10px;
}

div.org-name-url {
    text-align: center;
}

.org-row {
    width: 45%;
    display: inline-block;
}

.position-info {
    border: 2px dotted gray;
    width: 90%;
    padding: 5px;
    margin: 5px auto;
}

.position-row {
    width: 25%;
    display: table-cell;
}

.org-row input, div.position-row input {
    width: 135px;
    padding: 5px;
}

.end {
    width: max-content;
    margin: 10px auto;
}

.end input {
    font: bold large Cambria;
    padding: 15px;
    background-color: lightblue;
    border: 2px solid transparent;
    transition: 0.3s linear;
    margin: 0 10px;
}

.end input:hover {
    color: white;
    background-color: teal;
    border: 2px solid black;
    border-collapse: collapse;
}