* {
    font-family: "Courier New", monospace;
    /*border: 3px solid red;*/
}
body {
    background: white;
    margin: 0 auto;
}

header {
    background: lightblue;
    font-family: Cambria, monospace;
    font-size: xx-large;
    text-align: center;
    padding: 30px 0;
    margin: 0 auto;
    border-bottom: 5px solid black;
}

.table {
    border-bottom: 5px solid black;
}

a.btn, a.btn:visited {
    display: inline-block;
    color: gray;
    font-size: large;
    padding: 15px;
    text-decoration: none;
    cursor: default;
}

a.btn:hover {
    background: lightgrey;
    color: white;
}

a.btn:active {
    background: lightblue;
}

div.text_block {
    width: 60%;
    margin: 10px auto;
    text-align: justify;
    line-height: 1.5;
}

footer {
    border-top: 5px solid black;
    color: black;
    background-color: lightblue;
    opacity: 95%;
    text-align: center;
    background-position-x: center;
    background-position-y: bottom;
    height: 100px;
    bottom: 0;
    left: 20%;
}

.footer_block {
    display: block;
    padding: 10px;
}