body {
    background: white;
    font-family: "Courier New", monospace;
    margin: 0 auto;
}

header {
    width: 60%;
    background: cadetblue;
    font-family: Cambria, monospace;
    font-size: xx-large;
    text-align: center;
    padding: 30px 0;
    margin: 0 auto;
}

div.table {
    width: 60%;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
    margin: 0 auto;
}

form {
    display: inline;
}

input.button {
    background: white;
    border: 2px solid white;
    color: gray;
    padding: 10px;
    margin: 5px auto;
}

input.button:hover {
    background: darkgray;
    color: white;
}

input.button:active {
    background: black;
}

div.text_block {
    width: 60%;
    margin: 10px auto;
    text-align: justify;
    line-height: 1.5;
}

footer {
    color: gray;
    text-align: center;
    margin: 0 auto 10px auto;

}